.mainDeckListComponentDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #434343;
    border-radius: 25px;
    color: #00cf77;
    margin: 20px;
    padding: 30px;
}

.deckName {
    font-weight: 1000;
    font-size: x-large;
}

.cardName {
    font-size: medium;
}

.titleCards {
    margin-top: 0px;
    margin-bottom: 0.6rem;
}

.deckInfoDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

}

.deckInfoDiv > div {
    margin-right: 1rem;
}

.price {
    color: #ffffff;
    font-weight: 800;
    font-size: medium;
    margin-bottom: 3px;
}