.mainDivCard {
    display: flex;
    flex-direction: row;
    /*margin: 50px;*/
    padding: 20px;
    background-color: #434343;
    border-radius: 25px;
    min-width: 60%;
    height: fit-content;
}

.divInfo {
    min-width: 35vh;
    max-width: 55vh;
    display: flex;
    flex-direction: column;
    height: auto;
}

.name {
    align-self: center;
    justify-self: center;
    color: #00cf77;
}

.innerInfo {
    padding-left: 10px;
}

.buyDiv {
    justify-self: flex-end;
    display: flex;
    justify-content: space-evenly;
}

.mana {
    height: 25px;
    width: 25px;
    margin: 0px;
    margin-right: 3px;
}

.buyLink:link, .buyLink:visited {
    background-color: #434343;
    color: white;
    border: 2px solid #00cf77;
    border-radius: 15px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
}
  
.buyLink:hover, .buyLink:active {
    background-color: #00cf77;
    color: white;
}

.divCost {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
}

.blankMana {
    background-color: gray;
    border-radius: 99999px;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
    padding: 0px;
}

.buyTitle {
    color: #00cf77;
}

p {
    color: white;
}

.cardImg {
    max-width: 40vh;
    height: 100%;
    margin-right: 20px;
    min-height: 400px;
    min-width: 282px;
}

@media (width < 800px) {
    .mainDivCard {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: #434343;
        border-radius: 25px;
        min-width: 60%;
        height: fit-content;
    }
}