.finder {
    border-radius: 9999px;
    width: 40%;
    margin-right: 20px;
    height: 30px;
    padding-left: 10px;
    border: none;
}

.findButton {
    background-color: #00cf77;
    border: #00cf77;
    border-radius: 9999px;
    height: 30px;
    width: 60px;
    color: white;
    font-weight: bolder;
}

.divFinder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px;
}

.mainDivFinder {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232323;
    width: 100%;
    flex-direction: column;
}

.divButtons {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.typeButtons {
    width: 50%;
    height: 50px;
    border: 2px solid #00cf77;
    background-color: #232323;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
}

.typeButtons:hover {
    box-shadow: rgba(0, 207, 119, 0.35) 0px -30px 36px -28px inset;
}

.divResult {
    width: 100%;
}