.finder {
    border-radius: 9999px;
    width: 40%;
    margin-right: 20px;
    height: 30px;
    padding-left: 10px;
    border: none;
}

.findButton {
    background-color: #00cf77;
    border: #00cf77;
    border-radius: 9999px;
    height: 30px;
    width: 60px;
    color: white;
    font-weight: bolder;
}

.divFinder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px;
}

.mainDivFinder {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232323;
    width: 100%;
    flex-direction: column;
}
