.mainDeckCreatorDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.mainCreationDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    background-color: #434343;
    border-radius: 20px;
    margin-top: 2rem;
    margin-right: 0px;
    margin: 1rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.cardFinderDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    background-color: #434343;
    border-radius: 20px;
    margin-top: 2rem;
    margin: 1rem;
}

.cardFinderDiv .mainAutocompleteResultDiv .mainDivCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
}

.inputName {
    background-color: transparent;
    border: 1px solid #00cf77;
    color: #00cf77;
    font-size: large;
    font-weight: 1000;
    margin-bottom: 0px;
}

.buttonDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 30px;
    width: 80%;
}

.addButton {
    background-color: transparent;
    border-color: #00cf77;
    color: #00cf77;
    width: 100%;
    font-weight: bolder;
    padding: 10px;
    border-radius: 15px;
    transition: 500ms;
}

.addButton:hover {
    background-color: #00cf77;
    color: white;
}

.cardListDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cardListItem {
    padding: 10px;
    border: 1px solid #00cf77;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    color: #00cf77;
    font-weight: bolder;
    border-radius: 15px;
    margin-bottom: 1rem;
}

.cardListMainDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.deleteCardButton {
    background-color: transparent;
    border: 1px solid #ff0000;
    font-weight: bolder;
    padding: 5px;
    transition: 500ms;
    border-radius: 10px;
    color: #ff0000;
}

.deleteCardButton:hover {
    background-color: #ff0000;
    color: black;
}

.cardContent {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cardTitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.titleAndLegality {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.cardType {
    font-size: small;
    font-size: 200;
}

.charts {
    width: 50%;
}

.saveButton {
    background-color: transparent;
    border: 1px solid #00cf77;
    border-radius: 15px;
    padding: 0.5rem;
    font-weight: bolder;
    font-size: large;
    color: #00cf77;
    transition: 200ms;
    margin-left: 1.5rem;
}

.saveButton:hover {
    color: #ffffff;
    background-color: #00cf77;
}

.saveButton:focus {
    color: #00cf77;
    background-color: #ffffff;
}

.priceAndSaveButton {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1.5rem;
}

.price {
    color: #ffffff;
    font-size: x-large;
    font-weight: 800;
}

@media (width < 900px) {
    .mainDeckCreatorDiv {
        flex-direction: column;
        align-items: center;
    }
    .mainCreationDiv {
        width: 90%;
        margin: 0px;
        margin-top: 1rem;
    }

    .cardFinderDiv {
        width: 90%;
        margin: 0px;
        margin-top: 1rem;
    }
    
    .inputName {
        width: 50%;
    }
}