.mainDivNav {
    background-color: #434343;
    color: #282c34;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.innerDiv {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.links {
    padding-left: 20px;
}

.logo {
    width: 40px;
    height: 40px;
}

a {
    color: #00cf77;
    text-decoration: none;
    font-weight: bolder;
}

a:visited {
    color: #00cf77;
    text-decoration: none;
    font-weight: bolder;
}

.logged {
    display: flex;
    flex-direction: row;
}

.colored {
    color: #00cf77;
}

@media (width < 750px) {
    .mainDivNav {
        overflow-x: scroll;
    }

    .mainDivNav > * {
        text-align: center;
        font-size: medium;
    }

    .logged > * {
        text-align: center;
    }

    .adminZone > a {
        text-align: center;
    }
}