.mainDivRandom {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    background-color: #00cf77;
    border: none; 
    padding: 5px;
    border-radius: 5rem;
}