.mainDivRandom {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.refreshButton {
    background-color: #434343;
    border: none; 
    padding: 5px;
    border-radius: 5rem;
    color: white;
    padding: 20px;
    font-size: larger;
    transition: 500ms;
}

.refreshButton:hover {
    background-color: #00cf77;
}

.cardContainer {
    min-width: 60%;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
    .loadingImage {
        margin: 50px;
        animation: logo-spin infinite 5s linear;
        height: 200px;
    }
}

@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}